<div class="wrapper">
  <div class="container">
    <div class="comments " *ngFor="let comment of comments">
      <comment commentID="{{comment.id}}" userName= "{{comment.user.username}}" user="{{comment.user.image.png}}" createdAt="{{comment.createdAt}}" content="{{comment.content}}" [score]="comment.score"> </comment>
      <div class="replies mt-3">
        <div  *ngFor="let reply of comment.replies">
          <reply id="reply{{reply.id}}" replyID="{{reply.id}}" currentUser="{{currentUser.username}}" replyingTo="{{reply.replyingTo}}" userName= "{{reply.user.username}}" user="{{reply.user.image.png}}" createdAt="{{reply.createdAt}}" content="{{reply.content}}" [score]="reply.score"> </reply>
        </div>
      </div>
    </div>
    <div class="new-comment">
      <new-comment userName= "{{currentUser.username}}" user="{{currentUser.image.png}}"> </new-comment>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
