<div class="wrapper mb-3"  >
    <div class="container reply-container">
        <div class="score-btn-group-left btn-group" role="group">
            <button type="button" class="btn btn-top score-adjust" (click)="incrementScore()">+</button>
            <button type="button " class="btn score">{{score}}</button>
            <button type="button" class="btn btn-bottom score-adjust" (click)="decrementScore()">-</button>
          </div>
         <div>
            <div class="header">
                <img class ="user-avatar me-3" src='assets/{{user}}' alt="assets/{{user}}">
                <p class="user me-3">{{userName}}</p>
                <p class="current-user me-3" *ngIf="userName == currentUser">you</p>
                <p class="created">{{createdAt}}</p>
   
                <div *ngIf="userName == currentUser"  class="leftButtons">
                   <button type="button" class="btn delete" id="delete{{replyID}}" data-bs-toggle="modal" data-bs-target="#deleteCommentModal" >
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                           <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                         </svg>
                       Delete
                   </button>
                   <button type="button" class="btn edit"  (click)="editReply(replyID)" id="edit{{replyID}}">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                           <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                         </svg>
                       Edit
                   </button>
               </div>
            </div>
            <div class="body mt-3">
                <p id="comment{{replyID}}" contenteditable="false">
                   <span class="replyingTo" id="replyingTo{{replyID}}">
                       @{{replyingTo}}
                   </span>
                   <span  class="content" id="content{{replyID}}">
                    {{content}}
                   </span>
               </p>
            </div>
            <button type="button" class="btn update" id="update{{replyID}}" (click)="updateReply(replyID)" >
                Update
            </button>
            <div class="footer">
                <div class="score-btn-group btn-group" role="group">
                    <button type="button" class="btn score-adjust" (click)="incrementScore()">+</button>
                    <button type="button " class="btn score">{{score}}</button>
                    <button type="button" class="btn score-adjust" (click)="decrementScore()">-</button>
                  </div>
                <button type="button" class="btn reply" *ngIf="userName != currentUser" (click)="replyComment()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                    </svg>
                    Reply
                </button>
                <div *ngIf="userName == currentUser" class="rightButtons">
                   <button type="button" class="btn delete" id="delete{{replyID}}" data-bs-toggle="modal" data-bs-target="#deleteCommentModal" >
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                           <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                         </svg>
                       Delete
                   </button>
                   <button type="button" class="btn edit"  (click)="editReply(replyID)" id="edit{{replyID}}">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                           <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                         </svg>
                       Edit
                   </button>
                   <button type="button" class="btn update" id="update{{replyID}}" (click)="updateReply(replyID)" >
                       Update
                   </button>
   
                   
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="container" *ngIf="userName == currentUser">
                <div class="modal fade" id="deleteCommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment</h5>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete this comment? This will remove the comment and can't be undone.</p>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary delete-comment-btn" data-bs-dismiss="modal">No, Cancel</button>
                        <button type="button" class="btn btn-danger delete-comment-btn"  (click)="deleteComment()" data-bs-dismiss="modal">Yes, Delete</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
<ng-container #replies >
</ng-container>
 
