<div class="wrapper">
    <div class="container">
        <div class="body pt-3 mb-3">
            <img class ="user-avatar-left me-3" src='../../assets/{{user}}' alt="../../assets/{{user}}">

            <textarea class="form-control comment-textbox" aria-label="With textarea" placeholder="Add a comment..."></textarea>

            <button type="button" class="btn send-right">
                Send
            </button>
         </div>
         <div class="footer">
             <img class ="user-avatar me-3" src='../../assets/{{user}}' alt="../../assets/{{user}}">
             <button type="button" class="btn send">
                 Send
             </button>
         </div>
    </div>
 </div>
 